.buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--margin-16);
}


.buttons__button{
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--normal-font-size);
  background-color: var(--black);
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
}
